.main {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 24px;
        position: sticky;
        top: 0;
        background-color: #fff;
        border-bottom: 1px solid #E6E6E6;;

    }

    .menu {
        display: flex;
        
        &__item {
            margin-left: 35px;

            &-link {
                color: $mainColor;
                font-size: 12px;
                line-height: 14px;
                line-height: 1px;

                &:hover {
                    color: $secondaryColor;
                    transition: 0.3s all ease;
                }
            }
        }
    }
}